body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: no rapeat;
  
  background-color: #df123f;
  line-height: 1.6;
  border-radius: 5px;
}

/* Header */
header {
  background-color: #0a3d62;
  color: white;
  text-align: center;
  padding: 30px;
}

/* Navigation */
nav {
  background-color: #1e3799;
  text-align: center;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  
}

nav a:hover {
  text-decoration: none;
  color: #f2f;
}

/* Sections */
section {
  background: white;
  margin: 20px;
  padding: 25px;
  border-radius: 8px;
}

h2 {
  color: #0a3d62;
}







/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;


}


.xus{
    font-size: 25px;
    padding-left: 25px;
    text-align: center;
    background-color: #333;
    color: #f2f2f2;
    border-radius: 5px;
    
}

.ali{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;


}


.cali{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
 
}

.xasan{
     font-size: 25px;
    padding-left: 25px;
    text-align: center;
    background-color: #044;
    color: blue;
    border-radius: 5px;
}


.cali p{
    text-align: center;
    margin: 7px;
    padding-left: 15px;
    background-color: #333;
    color: white;
}


.ali p{
     text-align: center;
    margin: 7px;
    padding-left: 15;
    background-color: #00adb5;
    color: orangered;
}




.contect{
    background-color: #0d0d75;
    color: white;
    padding: 60px;
    text-align: center;
    
}




.contect-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto;
}

.contect input,
.contect textarea{
    margin: 10px;
    padding: 10px;
}


.contect button{
    padding: 10px;
    background-color: #00adb5;
    border: none;
    color: white;

}

span{
  color: orangered;
}





.services{
    background-color: #5f3e3e;
    padding: 60px;
    text-align: center;  
}


.services h2{
  color: white;
}

.box{
    background-color: url(1741254441302.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.services-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.card{
    background-color: #333;
    color: white;
    padding: 25px;
    width: 200px;
    border-radius: 5px;
}







.portfolio{
 padding: 60px;
 text-align: center;
 background-color: blue;

}


.project-box{
    display: flex;
    justify-content: center;
    gap: 20px;

} 

.project{
    width: 200px;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 20px;
    border-radius: 8px;
}



.portfolio h2{
  color: white;
}

